<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="page-title">Iveta's Movies</h1>

      <ul class="movies">
        <li>
          <a href="http://www.imdb.com/title/tt1259521/?ref_=sr_1" target="_blank">Cabin in the Woods</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1371111/?ref_=sr_1" target="_blank">Cloud Atlas</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1142977/?ref_=sr_1" target="_blank">Frankenweenie</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt0903624/?ref_=sr_1" target="_blank">The Hobbit</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt0104691/?ref_=sr_1" target="_blank">Last of the Mohicans</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt0454876/?ref_=sr_1" target="_blank">Life of Pi</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1258972/?ref_=sr_1" target="_blank">Man with the Iron Fists</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1623288/?ref_=sr_2" target="_blank">ParaNorman</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1981677/?ref_=sr_1" target="_blank">Pitch Perfect</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1446192/?ref_=sr_1" target="_blank">Rise of the Guardians</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1862079/?ref_=sr_2" target="_blank">Safety Not Guaranteed</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1307068/?ref_=sr_1" target="_blank">Seeking a Friend for the End of the World</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1931533/?ref_=sr_1" target="_blank">Seven Psychopaths</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1389096/?ref_=sr_2" target="_blank">Stand Up Guys</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt0108399/?ref_=sr_5" target="_blank">True Romance</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1374992/?ref_=sr_1" target="_blank">Upside Down</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1772341/?ref_=sr_1" target="_blank">Wreck it Ralph</a>
        </li>
        <li>
          <a href="http://www.imdb.com/title/tt1790885/?ref_=sr_1" target="_blank">Zero Dark Thirty</a>
        </li>
      </ul>
    </div>
  </div>
</div>




