@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat|Handlee);
@import "compass";

$walter: 'Walter Turncoat', cursive;
$rancho: 'Rancho', cursive;
$handlee: 'Handlee', cursive;

body {
  font-family: $walter;
  margin-bottom: 5em;
}

h1.page-title {
  text-align: center;
}

.movies {
  border: 1px dotted #333;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  li {
    text-align: center;
    a {
      font-size: 1.5em;
      line-height: 1.8em;
    }
  }
  li:nth-child(odd) {
    background-color: #aaa;
  }
}
